<h2> Welcome to the index </h2>


<%# <% @boats.each do |boat| %>
  <%# <p><%= boat.name %></p> %>
  <%# <p><%= boat.price %></p> %>
  <%# <p><%= boat.capacity %></p> %>
  <%# <p><%= boat.model %></p> %>
  <hr>
<%# <% end %> %> 

<% @boats.each do |boat| %>
  <p>title: <a href="/boats/<%= boat.id %>"><%= boat.name %></a></p>
  <p>capacity: <%= boat.capacity %></p>
  <hr>
<% end %>